@media screen and (max-width: 1919px){
	.header_menu ul li a{
		font-size: 18px;
	}
	.add_company_btn{
		font-size: 26px;
		padding-right: 100px;
	}
	.add_company_btn > span{
		font-size: 18px;
		right: 18px;
		top: -45%;
	}
	.add_company_wrap{
		width: 22%;
	}
	.pd_basket a{
		font-size: 34px;
	}
	.search_form_wrap{
		height: 60px;
		line-height: 60px;
	}
	.pd_news_item {
		width: 50%;
		float: left;
	}
	.news_item{
		width: 50%;
	}
	.pd_card_info_form_location{
		width: 30%;
	}
	.pd_card_info_form_right{
		width: 70%;
	}
	.pd_card_info_form_btns{
		text-align: center;
	}
	.basket_shop{
		left: 8%;
	}
	.pd_basket a{
		font-size: 28px;
	}
	.ava_rating_stars, .ava_rating_stars{
		width: 50%;
	}
}
@media screen and (max-width: 1500px){
	.pd_card_info_form_btns a{
		font-size: 26px;
	}
	.pd_card_info_form_btns a:first-child{
		height: 80px;
		line-height: 80px;
	}
	.add_company_wrap{
		width: 22.5%;
	}
	.header_menu{
		width: 61%;
	}
	.header_menu{
		width: 100%;
	    line-height: 68px;
	    height: 68px;
	}
	.top_header_wrap{
		height: auto;
		line-height: 1.2;
	}
	.add_company_wrap{
		width: 40%;
	    height: 68px;
	    line-height: 68px;
	    margin-left: 20px;
	}
	.search_field{
		width: 63%;
	}
	.pd_basket{
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.search_region{
		width: 25%;
	}
	.pd_main_page_img_wrap{
		margin-bottom: 50px;
	}
	.solution_item{
		padding: 30px 10px 10px 30px;
	}
	.call_us_item a{
		left: 30px;
	}
	.pd_news_item {
		width: 50%;
		float: left;
	}
	.news_item{
		width: 50%;
	}
	.search_region{
		width: 31%;
	}
	.suits, .restaurants, .cakes{
		min-height: auto;
	}
	.firework{
		min-height: 606px;
	}
	.weddins_acessories span{
		left: 36%;
		font-size: 26px;
	}
	.pd_card_info_form_question{
		padding-left: 25px;
	}
	.ava_rating_stars{
		width: 63%;
	}
	.pd_slider_wrap{
		margin-top: 60px;
	}
	.pd_slider_title h2{
		margin-bottom: 70px;
	}
	.header_menu ul li a{
		font-size: 14px;
	}
	.header_menu{
		width: 58%;
	}
	.register_wrap{
		width: 18%;
	}
	.add_company_wrap{
		width: 22%;
	}
	.add_company_btn{
		font-size: 20px;
	}
	.add_company_btn > span{
		font-size: 16px;
		top: -65%;
	}
	.filter_left_sidebar_title{
		padding: 30px 20px 40px 30px;
		font-size: 30px;
		height: 120px;
	}
	.filter_feedback_lines{
		width: 25px;
		margin-right: 10px;
	}
	.filter_feedback.owl-carousel .owl-next span{
		right: 5%;
		top: 30%;
	}
	.filter_feedback.owl-carousel .owl-prev span{
		left: 5%;
		top: 30%;
	}
	.filter_feedback_title{
		padding: 30px 10px 30px 30px;
		height: 110px;
	}
	.search_region{
		width: 25%;
	}
	.search_field{
		width: 45%;
	}
	.pd_basket{
		width: 30%;
		margin-top: 0;
	}
	.pd_basket a{
		font-size: 26px;
		margin-left: 20px;
	}
	.ava_rating_stars, .ava_rating_stars{
		width: 50%;
	}
	.footer_menu_wrap{
		padding: 0 20px 0 20px;
	}
}
@media screen and (max-width: 1370px){
	html body .news_item_left_img_small{
		padding-top: 10px;
	}
	html body .header_catalog{
		font-size: 18px !important;
	}
	.header_menu ul li a{
		font-size: 14px;
	}
	.header_menu{
		width: 58%;
	}
	.register_wrap{
		width: 18%;
	}
	.add_company_wrap{
		width: 22%;
	}
	.add_company_btn{
		font-size: 20px;
	}
	.add_company_btn > span{
		font-size: 16px;
		top: -65%;
	}
	.search_region{
		width: 25%;
	}
	.search_field{
		width: 45%;
	}
	.pd_basket{
		width: 30%;
		margin-top: 0;
	}
	.pd_basket a{
		font-size: 26px;
		margin-left: 20px;
	}
	.foto_maker_img img{
		height: 330px;
	}
	.pd_card_info_form_btns a:first-child{
		height: 60px;
		line-height: 60px;
		font-size: 22px;
		padding: 0 5px 0 5px;
	}
	.pd_card_info_form_btns a{
		font-size: 22px;
	}
	.ava_rating_btn a{
		line-height: 26px;
	}
	.add_company_btn{
	    padding: 4px 85px 4px 10px;
	}
	.add_company_wrap{
		width: 19%;
	}
	.add_company_wrap{
		margin-left: 10px;
	}
	.header_menu{
		width: 62%;
	}
	.ava_rating_stars i{
		padding-right: 0;
		font-size: 26px;
	}
	.ava_rating_btn, .ava_rating_stars{
		width: 50%;
	}
}
@media screen and (max-width: 1355px){
	.pd_card_info_form_btns a{
		font-size: 26px;
	}
	.pd_card_info_form_btns a:first-child{
		height: 80px;
		line-height: 80px;
	}
	.pd_card_info_form_location{
		width: 100%;
		margin-bottom: 30px;
	}
	.pd_card_info_form_right{
		width: 100%;
	}
	.pd_card_info_form_question{
		padding-left: 0;
		border-left: 0;
	}
	.pd_card_info_form_btns a{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.ava_rating_stars{
		width: 62%;
	}
	.pd_card_info{
		padding-left: 10px;
	}
	.pd_card_info_tags_foto{
		display: block;
		margin-bottom: 30px;
	}
	.pd_slider_title h2{
		margin-bottom: 30px;
		margin-top: 50px;
		font-size: 80px;
	}
	.ava_rating_stars{
		width: 60%;
	}
	.pd_slider_title h2:before{
		bottom: -5px;
	}
	html body .pd_carousel .owl-carousel .owl-item img{
		height: 400px;
	}
	.pd_carousel .owl-next, .pd_carousel .owl-prev{
		height: 100px;
		width: 100px;
	}
	.header_menu{
		width: 100%;
	}
	.header_menu ul li a{
		font-size: 20px;
	}
	.add_company_wrap{
		width: 45%;
	}
	.ava_rating_stars{
		width: 50%;
	}
	.footer_menu_wrap ul li a, .footer_contacts a{
		font-size: 28px;
	}
	.footer_contacts{
		font-size: 28px;
	}
	footer{
		padding-left: 20px;
	}
}
@media screen and (max-width: 1220px){
	.firework{
		min-height: 605px;
	}
	.ava_rating_stars{
		width: 59%;
	}
	.pd_card_ava_wrap{
		width: 100%;
		/*padding-left: 30px;*/
		text-align: center;
		margin-bottom: 30px;
	}
	.card_ava_logo{
		right: 29%;
	}
	.pd_ava_rating {
		width: 48%;
		margin: 0 auto;
	}
	.pd_card_info{
		float: none;
		margin: 0 auto;
	}
	.filter_left_sidebar_title{
		display: none;
	}
	.filter_left_menu ul{
		border-left: 0;
		padding-right: 0;
	}
	.search_field{
		width: 40%;
	}
	.search_region{
		font-size: 22px;
	}
	.search_form_wrap{
		height: 50px;
		line-height: 50px;
	}
	.pd_basket{
		height: 50px;
		line-height: 58px;
	}
	.pd_basket a span{
		padding-left: 0;
	}
	.pd_basket a{
		padding-left: 10px;
		padding-right: 10px;
	}
	.ava_rating_stars{
		width: 50%;
	}
	.footer_logo, .footer_menu_wrap, html body footer .footer_menu_wrap ul li, .footer_contacts{
		width: 100%;
		float: none;
		text-align: center !important;
		padding: 0;
		margin-bottom: 20px;
	}
	.input_title{
		width: 77%;
	}
	.input_social{
		width: 80%;
		margin-bottom: 15px;
	}
	.add_company_button{
		margin-bottom: 30px;
	}
	.input_row{
		padding-top: 0;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 1080px){
	.news_left_wrap, .news_right_wrap{
		padding-left: 0;
		width: 100%;
		float: none;
	}
	.news_page_wrap{
		margin-bottom: 20px;
	}
	.full_news_title{
		margin-bottom: 80px;
	}
	.grid_wrap{
		padding: 0;
	}
	html body .pd_carousel.owl-carousel .owl-item img{
		height: 400px;
	}
	.foto_maker_portfolio_wrap{
		margin-bottom: 30px;
	}
	.filter_left_sidebar{
		padding-right: 0;
	}
	.search_region{
		width: 41%;
	}
	.search_field{
		width: 50%;
	}
	.footer_menu_wrap{
		width: 100%;
		padding-left: 30px;
	}
	.solution_item{
		padding: 30px 10px 10px 30px;
	}
	.call_us_item a{
		left: 30px;
	}
	.news_item{
		width: 50%;
	}
	.pd_news_item {
		margin-bottom: 20px;
	}
	.news_item_wrap{
		padding-bottom: 10px;
	}
	.solution_item{
		padding: 30px 10px 10px 30px;
	}
	.search_region{
		width: 31%;
	}
	.firework{
		min-height: 603px;
	}
	.filter_left_sidebar, .filter_right{
		width: 100%;
		float: none;
	}
	.filter_left_menu ul li{
		display: inline-block;
		border-bottom: 0;
		border-radius: 8px;
		background: linear-gradient(to top, #dddfe8, #fff);
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 15px;
		height: 50px;
		line-height: 50px;
	}
	.filter_left_menu{
		text-align: center;
		margin-bottom: 30px;
	}
	.search_region, .search_field, .pd_basket{
		width: 100%;
		margin-bottom: 15px;
	}
	.pd_basket a{
		margin-left: 5px;
	}
	.pd_basket{
		margin-bottom: 30px;
	}
	.ava_rating_stars{
		width: 50%;
	}
	.input_row_text, .input_row_field{
		width: 100%;
		float: none;
		text-align: center;
	}
	.input_row_field{
		height: 40px;
		line-height: 40px;
	}
	.input_row_text{
		padding-right: 0;
	}
	.input_text_span_middle{
		margin-top: 0;
	}
	.pd_card_info_title h2{
		font-size: 30px;
	}
	.select_category{
		font-size: 18px;
		width: 100%;
	}
	.input_social{
		width: 50%;
	}
	html body .social_icon_wrap{
		width: 40px;
		height: 40px;
		margin-right: 0;
	}
	.select_category{
		vertical-align: baseline;
	}
	.add_company_title{
		margin-bottom: 50px;
	}
	.width30perc{
		width: 30%;
	}
	.load_photo_wrap, .load_photo_text{
		width: 100%;
		float: none;
	}
	.form_wrap{
		margin-bottom: 0;
	}
	.add_company_button button{
		font-size: 26px;
		padding: 10px;
	}
	.add_company_button{
		width: 100%;
	}
}
@media screen and (max-width: 991px){
	html body .news_item_left_img_small, html body .news_item_left_text_small{
		width: 100%;
		float: none;
		padding-top: 0;
		padding-left: 0;
	}
	.news_item_left_text span{
		font-size: 22px;
	}
	.news_item_left_text{
		text-align: center;
	}
	.news_item_left_btn a{
		font-size: 26px;
		padding: 10px;
	}
	.news_item_left{
		margin-bottom: 10px;
	}
	.news_item_left_img{
		margin-bottom: 10px;
	}
	.news_item_left{
		padding: 10px;
	}
	.ava_rating_stars{
		width: 50%;
	}
	.foto_maker_portfolio_wrap{
		margin-bottom: 30px;
	}
	.pd_ava_rating{
		width: 60%;
	}
	.pd_card_info_tags_wrap a{
		display: block;
		margin-bottom: 10px;
	}
	html body .pd_counter{
		display: inline-block;
	}
	.pd_card_info_tags_foto{
		margin-bottom: 0;
	}
	.pd_card_info_form_question, .pd_card_info_form_btns{
		width: 100%;
		float: none;
		text-align: center;
	}
	.pd_card_info_form_location{
		text-align: center;
	}
	.pd_slider_title h2{
		margin-top: 0;
		font-size: 60px;
	}
	.pd_slider_title h2:before{
		height: 5px;
	}
	html body .pd_carousel .owl-carousel .owl-item img{
		height: 300px;
	}
	.mobile-menu{
        position: fixed;
        z-index: 999;
        top: 121px;
    	left: 37px;
        display: block;
        width: 40px;
        height: 25px;
        transition: all .5s;
    }
    .mobile-menu:before{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 50px;
        height: 40px;
        padding: 22px 30px;
        content: '';
        transform: translateY(-50%) translateX(-50%);
        background: white;
        background-color: transparent;
        background-color: #ffd234;
        border-radius: 5px;
        box-shadow: 2px 2px 7px #000;
    }
    .mobile-menu span{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        height: 3px;
        transition: all .5s;
        background-color: #000;
    }
    span.line-2 {
	    top: 50%;
		transform: translateY(-50%);
    }
    span.line-3 {
    	top: calc(100% - 3px);
    }
    .header_menu ul{
        position: fixed;
        z-index: 20;
        top: 160px;
        left: -350px;
        display: block;
        width: 320px;
        margin: 0;
    }
    .openedMob-menu .header_menu ul{
	    left: 0;
	}

	html body .openedMob-menu .line-1{
		transform: rotate(135deg);
	    top: 10px;
	}

	html body .openedMob-menu .line-2{
		transform: rotate(240deg);
   		opacity: 0;
	}

	html body .openedMob-menu .line-3{
		transform: rotate(-135deg) translateY(-50%);
    	top: 9px;
	}
	.openedMob-menu .header-menu ul{
    	left: 0;
    }
    .header_menu ul{
    	box-shadow: 2px 2px 9px #000;
    }
    .header_menu ul li{
        display: block;
        text-align: left;
        border-bottom: 2px solid #000;
        background-color: #ffd234;
    }
    html body .header_menu ul > li:last-child{
    	border-bottom: 1px solid #ffd234;
    }
    .header_menu ul li a{
        display: block;
        padding: 0 25px;
        background-color: #f3f3f3;
        color: #000;
        line-height: 47px;
	    background-color: #ffd234;
	    font-weight: bold;
	    font-style: normal;
    }
    .header_menu ul li a:hover{
        background-color: #d1d1d1;
    }
    .header_menu ul li:after{
    	display: none;
    }
    .header_menu{
    	height: auto;
    	line-height: 1.2;
    }
    .add_company_wrap{
    	width: 100%;
    	text-align: center;
    	margin-left: 0;
    	float: none;
    }
    .register_wrap{
    	width: 320px;
    	margin: 0 auto;
		float: none;
    }
    .search_region, .search_field{
    	width: 100%;
    	padding-left: 30px;
    	padding-right: 30px;
    }
    .pd_basket{
    	margin-left: 30px;
    }
    .solution_title h2{
    	font-size: 26px;
    }
    .solution_title{
    	margin-bottom: 40px;
    }
    .solution_title:before{
    	bottom: -15px;
    }
    .pd_main_page_img_wrap{
    	margin-bottom: 20px;
    }
    .solution_item{
    	width: 100%;
    	margin: 0;
    	margin-bottom: 1%;
    	max-height: 380px;
    }
    .pd_news_title{
    	margin-top: 25px;
    }
    .pd_news_item{
    	width: 100%;
    	float: left;
    	margin-bottom: 15px;
    }
    .news_item{
    	width: 50%;
    }
    .text_news{
    	float: right;
    }
    .footer_menu_wrap ul li{
    	width: 100%;
    }
    .footer_menu_wrap ul li:last-child{
    	text-align: left;
    	padding-top: 0;
    }
    .solution_item_list li a{
    	font-size: 20px;
    }
    .search_region{
    	margin-bottom: 20px;
    }
    .mobile_menu_up .mobile-menu{
		top: 25px;
	}
	.firework{
		width: 100%;
	}
	.foto_makers, .video_makers, .weddins_acessories, .farm{
		width: 50%;
	}
	.catalog_item{
		width: 49.5%;
	}
	.cakes{
		min-height: 400px;
	}
	.keytering{
		width: 99.7%;
	}
	.weddins_acessories span, .restaurants span{
		left: 40%;
		font-size: 24px;
	}
	.pd_card_info_title h2{
		font-size: 40px;
	}
	.pd_card_info_discription p{
		padding-left: 0;
		font-size: 22px;
	}
	.pd_card_info_tags_wrap{
		padding-left: 0;
	}
	.bread_crumbs_wrap{
		text-align: center;
	}
	.foto_maker_img img{
		height: 250px;
	}
	.register_wrap{
		width: 26%;
	}
	html body .pd_carousel.owl-carousel .owl-item img{
		height: 300px;
	}
	footer{
		padding-left: 0;
	}
	.full_news_title h2{
			font-size: 30px;
			margin-top: 20px;
		}
		.full_news_info p{
			font-size: 22px;
			margin-bottom: 20px;
		}
		.full_news_wrap{
			padding: 0 10px;
		}
		.full_news_title{
			margin-bottom: 60px;
		}
		.grid-item{
			width: 100%;
			float: none;
			text-align: center;
			height: 200px;
		}
		.footer_menu_wrap{
			padding-left: 0;
		}
		.footer_logo{
			margin-bottom: 40px;
		}
		.grid_wrap{
			margin-bottom: 20px;
		}
		.width30perc{
			width: 70%;
		}
}
@media screen and (max-width: 710px){
	.load_photo_text{
		padding: 10px;
		text-align: center;
	}
	.register_wrap{
		width: 38%;
		text-align: center;
	}
	.pd_ava_rating{
		width: 80%;
	}
	.pd_ava_img{
		max-height: 360px;
	}
	.foto_maker_portfolio_wrap{
		margin-bottom: 30px;
	}
	html body .pd_carousel.owl-carousel .owl-item img{
		height: 300px;
	}
	.pd_carousel .owl-next, .pd_carousel .owl-prev{
		display: none;
	}
	.foto_maker_img span{
		width: 41%;
	}
	.ava_rating_stars{
		width: 50%;
	}
	.width30perc{
		width: 70%;
	}
}
@media screen and (max-width: 620px){
	.weddins_acessories span{
			left: 44%;
    		width: 77%;
		}
	html body .pd_carousel.owl-carousel .owl-item img{
		height: 300px;
	}
	.pd_carousel .owl-next, .pd_carousel .owl-prev{
		display: none;
	}
	.search_form_wrap{
		height: auto;
		line-height: 2;
		margin-bottom: 0;
	}
	.filter_feedback_title{
		padding: 10px 10px 10px 20px;
		height: 70px;
	}
	.bread_crumbs_wrap{
		padding-bottom: 20px;
		margin-top: 20px;
	}
	.foto_maker_portfolio_wrap{
		margin-bottom: 20px;
	}
	.register_img{
		display: none;
	}
	.register_btns{
		padding-left: 0;
		text-align: center;
	}
	.register_wrap{
		padding-left: 0;
	}
	.basket_shop{
		display: none;
	}
	.pd_card_info_form_btns a{
		padding: 0 10px 0 10px;
	}
	.pd_card_info_form_btns a:first-child{
		height: 50px;
		line-height: 50px;
	}
	.catalog_item{
		width: 100%;
	}
	.weddings_dress span, .weddins_acessories span, .restaurants span{
		left: 50%;
	}
	.owl-next, .owl-prev{
		display: none;
	}
	.ava_rating_stars{
		width: 46%;
	}
	.ava_rating_btn{
		width: 54%;
	}
	.pd_card_info_discription p{
		padding-left: 0;
	}
	.pd_card_info_title h2{
		font-size: 46px;
	}
	.pd_card_info_title h2:before{
		height: 5px;
	}
	.pd_card_info{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.foto_maker_img span{
		top: 35%;
		font-size: 20px;
	}
	.input_row_text{
		line-height: 1.5;
		height: auto;
	}
	.input_social{
		width: 75%;
	}
	.form_wrap{
		padding: 10px;
	}
@media screen and (max-width: 530px){
		.filter_left_menu ul li{
			height: auto;
			line-height: 1;
		}
		.filter_left_menu ul li a{
			padding: 10px 15px;
		}
    	.play_day_wrap{
    		margin-bottom: 5px;
    	}
    	.add_company_btn{
    		font-size: 22px;
    		width: 310px;
    	}
    	.add_company_btn > span{
    		font-size: 14px;
		    right: 30px;
		    top: -60%;
    	}
    	.register_img{
    		display: none;
    	}
    	.register_btns{
    		text-align: center;
    	}
    	.mobile-menu{
    		left: 20px;
    	}
    	.search_region, .search_field{
    		padding-left: 0;
    		padding-right: 0;
    	}
    	.search_region{
    		font-size: 22px;
    	}
    	.pd_basket a{
    		font-size: 24px;
    		padding: 5px;
		    padding-left: 12px;
		    padding-right: 10px;
    	}
    	.pd_basket{
    		margin: 0;
    	}
    	.news_item{
    		width: 100%;
    	}
    	.news_item_wrap{
    		padding-bottom: 20px;
    	}
    	.pd_news_title{
    		margin-top: 35px;
    		margin-bottom: 15px;
    	}
    	.mobile_menu_up .mobile-menu{
    		top: 25px;
    	}
    	.news_item{
    		padding: 20px;
    		text-align: center;
    	}
    	.solution_item{
    		min-height: auto;
    	}
    	.solution_item_title{
    		padding-bottom: 60px;
    	}
    	.news_item{
    		min-height: auto;
    	}
    	.fire_fly, .discount_progr, .mothers_day{
    		min-height: 300px;
    	}
		html body .foreign_weddings span{
			font-size: 28px;
		}
		.pd_ava_rating{
			width: 100%;
		}
		.bread_crumbs_wrap{
		    margin-top: 20px;
    		padding-bottom: 0px;
		}
		.card_ava_logo{
			width: 235px;
			height: 30px;
			left: 50%;
			transform: translateX(-50%);
		}
		.ava_rating_stars i{
			font-size: 22px;
		}
		.ava_rating_btn a{
			font-size: 26px;
			height: 56px;
    		line-height: 28px;
		}
		.pd_card_info_title h2{
			font-size: 30px;
		}
		.pd_card_info_title{
			padding-left: 0;
			margin-bottom: 30px; 	
		}
		.pd_card_info_title h2:before{
			bottom: -10px;
		}
		.pd_card_info_form{
			padding: 10px;
		}
		.pd_card_info_form_btns a{
			font-size: 20px;
		}
		.pd_card_info_form_btns a:first-child{
			margin-bottom: 15px;
		}
		.pd_slider_wrap{
			margin-top: 20px;
		}
		.pd_slider_title h2{
			font-size: 30px;
		}
		.owl-carousel .owl-dots{
			bottom: -35px;
		}
		.weddins_acessories span{
			top: 50%;
			left: 60%;
			width: 100%;
		}
		.firework, .suits, .restaurants, .cakes{
			min-height: 320px;
			max-height: 320px;
		}
		.search_field > i{
			left: 3%;
		}
		.search_field input{
			padding-left: 55px;
		}
		.filter_right{
			padding-left: 5px;
			padding-right: 5px;
		}
		.pd_container{
			padding: 0;
		}
		.filter_left_menu{
			margin-bottom: 20px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.filter_left_menu ul li{
			margin-bottom: 7px;
			padding-left: 5px;
			padding-right: 5px;
			margin-left: 0;
			width: 100%;
		}
		.filter_feedback_title_feedback_block{
			font-size: 20px;
		}
		.filter_feedback_lines:before{
			height: 5px;
			margin-bottom: 5px;
		}
		.filter_feedback_lines:after{
			height: 5px;
		}
		.filter_feedback_lines{
			height: 15px;
		}
		.filter_feedback_title{
			padding: 0 0 0 20px;
			height: 55px;
			margin-bottom: 20px;
		}
		.filter_feedback_carousel_item_title h4{
			font-size: 22px;
		}
		.filter_feedback_carousel_item_img{
			width: 180px;
			height: 180px;
			margin-bottom: 20px;
		}
		.foto_maker_line_bottom span{
			font-size: 22px;
		}
		.foto_maker_line_bottom{
			padding-left: 20px;
			height: 40px;
			line-height: 40px;
			padding-right: 25px;
		}
		.foto_maker_img img{
			height: 180px;
		}
		.filter_left_menu ul li a{
			font-size: 22px;
		}
		.footer_menu_wrap ul li a{
			font-size: 26px;
		}
		.pd_carousel .owl-nav{
			display: none !important;
		}
		html body .pd_carousel.owl-carousel .owl-item img{
			height: 300px;
		}
		.pd_carousel .owl-next, .pd_carousel .owl-prev{
			display: none;
		}
		.ava_rating_stars i{
			padding-right: 0px;
		}
		.pd_ava_rating{
			padding: 0;
			padding-right: 5px;
			height: 45px;
			line-height: 45px;
		}
		.pd_card_info{
			padding-left: 10px;
			padding-right: 10px;
		}
		.foto_maker_line_bottom{
			padding-left: 5px;
			padding-right: 15px;
		}
		.foto_maker_line_bottom span{
			font-size: 16px;
		}
		.foto_maker_line_bottom a > span{
			font-size: 14px;
		}
		.foto_maker_line_bottom a > i{
			display: none;
		}
		.filter_feedback_wrap{
			margin-left: 5px;
			margin-right: 5px;
		}
		.weddins_acessories span{
			left: 44%;
    		width: 77%;
		}
	}
