img {
	max-width: 100%;
}
body{
	font-family: 'Arial Narrow', sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
	background-color: #f7f7f7; 
}
.clearfix:before, 
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
html{
	overflow-x: hidden; 
}
*{
	outline: none;
	box-sizing: border-box;
}
ul,h2,h3,h4{
	margin: 0;
	padding: 0;
}
@font-face{
font-family: 'Arial_Cyr';
src: url('../fonts/Arial Cyr.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Bebas_Neu_Bold';
src: url('../fonts/Bebas Neue.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Bebas_Neu_Cyr';
src: url('../fonts/Bebas Neue Cyr.ttf');
font-weight: normal;
font-style: normal;
}

font-family: 'Arial Narrow', arial;

.pd_container{
	max-width: 1850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.site{
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
}

.site-content{
  	flex: 1;
}
.mobile_menu{
	display: none;
}

.play_day_wrap img{
	object-fit: contain;
}
.play_day_wrap{
	margin-bottom: 20px;
}
.top_header_wrap{
	background-color: #e00008;
	padding-left: 5px;
	padding-right: 5px;
	height: 68px;
	line-height: 68px;
	margin-bottom: 30px;
}
.header_menu ul{
	transition: all .5s;
}
.header_menu ul li{
	display: inline-block;
	position: relative;
	padding-left: 3px;
	padding-right: 3px;
}
.header_menu ul li:after{
	content: "";
	display: block;
	position: absolute;
	right: -4px;
	top: 32%;
	bottom: 32%;
	width: 2px;
	background-color: #4a70c0;
}
.header_menu ul li a{
	font-size: 22px;
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
	padding: 18px 10px;
	transition: all .5s;
	border-radius: 4px;
}
.header_menu ul li a:hover{
	background-color: #ffd234;
	text-decoration: none;
	color: #000;
}
.header_menu{
	width: 59.2%;
	float: left;
}
.add_company_wrap{
	width: 28%;
	float: left;
}
.register_wrap{
	width: 12.8%;
	float: left;
}
.add_company_btn{
	background-color: #ffd234;
	color: #000;
	font-size: 44px;
	font-family: 'Bebas_Neu_Bold';
	padding: 4px 120px 4px 30px;
	border-radius: 5px;
	transition: all .5s;
	position: relative;
	vertical-align: middle;
	text-decoration: none;
}
.add_company_btn > span{
	font-size: 22px;
	text-decoration: underline;
	position: absolute;
	right: 30px;
	top: -19%;
	display: block;
}
.add_company_btn:hover{
	text-decoration: none;
	opacity: .5;
}
.register_img{
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #fff url(../img/user.png) center bottom no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.register_wrap{
	position: relative;
	padding-left: 75px;
	height: 65px;
	line-height: 65px;
}
.register_btns{
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}
.register_btns a{
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Arial_Cyr';
	text-decoration: underline;
	transition: all .5s;
	line-height: 22px;
}
.register_btns a:hover{
	opacity: .5;
}
.search_region{
	width: 23%;
	float: left;
	color: #333;
	font-size: 28px;
	font-family: 'Arial_Cyr';
	font-weight: bold;
}
.search_field{
	width: 46%;
	float: left;
	padding-left: 6px;
	position: relative;
}
.pd_basket{
	width: 28%;
	float: left;
	position: relative;
	height: 68px;
    line-height: 68px;
    vertical-align: middle;
}
.search_form_wrap{
	max-width: 1850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	height: 68px;
	line-height: 68px;
	margin-bottom: 20px;
}
.search_region a{
	color: #3e76ad;
	border-bottom: 3px dashed #00a8e7;
	transition: all .5s;
}
.search_region a:hover{
	text-decoration: none;
	opacity: .5;
}
.search_field input{
	position: relative;
	width: 100%;
	padding-left: 85px;
	font-size: 22px;
	color: #ae9b97;
	border: 3px solid #dfdfdf;
	border-radius: 4px;
	transition: all .5s;
}
.search_field > i{
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	color: #606060;
	z-index: 1;
}
.pd_basket{
	margin-left: 25px;
	position: relative;
}
.pd_basket a{
	font-size: 36px;
	background-color: #ffd234;
	color: #000;
	font-family: 'Bebas_Neu_Bold';
	border-radius: 5px;
	text-decoration: none;
	transition: all .5s;
	padding: 13px;
	padding-left: 30px;
	padding-right: 20px;
}
.pd_basket a span{
	padding-left: 20px;
}
.pd_basket a:hover{
	opacity: .5;
}
.pd_basket a:hover i{
	opacity: .5;
}
.pd_basket > i{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-60%);
	font-size: 40px;
	color: #000;
}
.pd_main_page_img_wrap{
	width: 100%;
	object-fit: contain;
	margin-bottom: 100px;
}
.solution_wrap{
	max-width: 1830px;
	margin: 0 auto;
}
.solution_title{
	max-width: 470px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 105px;
	position: relative;
}
.solution_title:before{
	content: "";
	display: block;
	position: absolute;
	height: 3px;
	bottom: -40px;
	left: 35%;
	right: 35%;
	background-color: #ffd234;
}
.solution_title h2{
	font-size: 40px;
	color: #2a2e32;
	text-transform: uppercase;
	line-height: 1.5;
}
.solution_item{
	width: 22.75%;
	float: left;
	padding: 80px 10px 10px 65px;
	background-color: lightblue;
	margin: 0 1.5% 1.5%;
	margin-bottom: 65px;
	min-height: 470px;
}
.solution_item_title h3{
	margin-bottom: 65px;
	position: relative;
	color: #fffefa;
	font-size: 32px;
}
.solution_item_title h3:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #f7e904;
	height: 3px;
	bottom: -25px;
	left: 0;
	right: 65%;
}
.pd_container{
	max-width: 1850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.solution_item_list{
	list-style: none;
}
.solution_item_list li a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	transition: all .5s;
	line-height: 2;
}
.solution_item_list li a:hover{
	opacity: .5;
}
.weddings_block{
	width: 48.5%;
	background: #fff url(../img/wedding.jpg) center center no-repeat;
	background-size: cover;
	margin-left: 0;
}
.annivers_comp_block{
	background: #fff url(../img/aniversary.jpg) center center no-repeat;
	background-size: cover;
}
.childrens_feast{
	background: #fff url(../img/children.jpg) center center no-repeat;
	background-size: cover;
	margin-right: 0;
}
.new_year{
	background: #fff url(../img/newYear.jpg) center center no-repeat;
	background-size: cover;
	margin-left: 0;
}
.bearthday{
	background: #fff url(../img/birthday.jpg) center center no-repeat;
	background-size: cover;
}
.graduation{
	background: #fff url(../img/graduat.jpg) center center no-repeat;
	background-size: cover;
}
.call_us_item{
	margin-right: 0;
	background-color: #fff;
	border: 10px solid #ffd600;
	position: relative;
}
.call_us_item h3{
	color: #000;
}
.call_us_item p{
	padding-right: 15px;
	color: #5d4f4c;
	font-size: 14px;
}
.call_us_item a{
	text-transform: uppercase;
	text-decoration: none;
	transition: all .5s;
	color: #000;
	font-size: 16px;
	position: absolute;
	bottom: 20px;
	left: 65px;
}
.call_us_item a span{
	padding-left: 15px;
}
.call_us_item a:hover{
	opacity: .5;
}
.solutions_item_wrap {
	margin: 0 auto;
}
.pd_news_title{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 65px;
}
.pd_news_title h3{
	position: relative;
	text-transform: uppercase;
	color: #8fc643;
	font-size: 30px;
	display: inline-block;
	line-height: 1.5;
	font-weight: bold;
}
.pd_news_title h3:before{
	content: "";
	display: block;
	height: 3px;
	background-color: #161616;
	left: 0;
	right: 0;
	top: 0;
}
.pd_news_title h3:after{
	content: "";
	display: block;
	height: 3px;
	background-color: #161616;
	left: 0;
	right: 0;
	bottom: 0;
}
.news_item{
	width: 25%;
	float: left;
	min-height: 315px;
}
.delivering{
	background-color: #fdd803;
	text-align: center;
}
.delivering span{
	color: #fff;
	font-size: 42px;
    height: 315px;
    line-height: 315px;
}
.news_item_wrap {
	padding-bottom: 75px;
}
.text_news{
	padding-left: 45px;
	padding-top: 15px;
}
.text_news h4{
	text-transform: uppercase;
	color: #92908e;
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: bold;
}
.text_news p{
	color: #6b6c62;
	font-size: 18px;
	margin-bottom: 25px;
}
.text_news a{
	color: #aa9793;
	font-size: 16px;
	text-decoration: none;
	transition: all .5s;
}
.text_news a:hover{
	opacity: .5;
}
.text_news span{
	color: #aa9793;
	padding-left: 10px;
}
.mothers_day{
	background: #fff url(../img/mothers_day.jpg) right center no-repeat;
	background-size: cover;
}
.discount_progr{
	background: #fff url(../img/oformlen.jpg) center center no-repeat;
	background-size: cover;
}
.fire_fly{
	background: #fff url(../img/fire_fly.jpg) center center no-repeat;
	background-size: cover;
}
footer{
	background-color: #363636;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	padding-left: 40px;
}
.footer_menu_wrap{
	display: inline-block;
	width: 40%;
}
.footer_menu_wrap ul li{
	width: 50%;
	float: left;
	text-align: left;
}
.footer_menu_wrap ul li:last-child{
	width: 100%;
	text-align: center;
	padding-right: 150px;
	padding-top: 30px;
}
.footer_menu_wrap ul li a{
	position: relative;
	transition: all .5s;
	text-decoration: none;
	font-size: 34px;
	color: #92c83b;
}
.footer_menu_wrap ul li a:before{
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fcd903;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
}
.footer_menu_wrap ul li a:hover{
	opacity: .5;
}
.pd_news_item {
	width: 50%;
	float: left;
}
.news_item{
	width: 50%;
}
.mobile_menu_up{
	top: 20px;
}
.catalog_wrapper{
	padding-bottom: 65px;
}
.catalog_item{
	width: 20.4%;
	float: left;
	display: block;
	position: relative;
	transition: all .5s;
	overflow: hidden;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	height: 300px;
	transform: scale(1);
	min-height: 300px;
}
.catalog_item:hover img{
	transform: scale(1.1);
	filter: brightness(70%);
}
.catalog_item span{
	color: #fff;
	font-size: 34px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}
.catalog_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	transition: all .5s;
}
.firework{
	width: 36.55%;
	min-height: 607px;
}
.foto_makers, .video_makers, .weddins_acessories, .farm{
	width: calc(40.7% + 0.5%);
}
.suits, .restaurants, .cakes{
	min-height: 607px;
}
.restaurants{
	width: 57.6%;
}
.farm, .salons, .registration_open_air{
	min-height: 400px;
}
.foreign_weddings{
	min-height: 350px;
}
.foreign_weddings,.farm, .feast_for_children, .decoration{
	width: 28.6%;
}
.keytering, .rings, .foreign_weddings, .feast_for_children, .decoration{
	min-height: 400px;
}
.video_makers{
	width: 36.6%;
}
html body .header_catalog{
	font-size: 26px !important;
	font-weight: bold;
}
.catalog_item span{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
}
.foto_makers span{
	left: auto;
	right: 0;
}
.weddings_dress span{
	left: 38%;
	font-size: 24px;
	font-weight: bold;
}
.firework span{
	top: 65%;
}
.bread_crumbs_wrap{
	margin-top: 50px;
	padding-bottom: 50px;
}
.bread_crumbs_wrap span{
	color: #333;
	font-size: 30px;
}
.bread_crumbs_wrap i{
	color: #333;
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.pd_card_ava_wrap{
	width: 28%;
	float: left;
	padding-top: 50px;
}
.pd_card_info{
	width: 72%;
	float: left;
	padding-left: 60px;
}
.pd_ava{
	position: relative;
	margin-bottom: 10px;
}
.card_ava_logo{
	position: absolute;
	right: 20px;
	bottom: 15px;
	display: block;
	width: 285px;
	height: 42px;
}
.pd_ava_img{
	object-fit: cover;
}
.pd_card_wrapp{
	padding-bottom: 20px;
}
.ava_rating_stars{
	width: 67%;
	float: left;
}
.ava_rating_stars i{
	color: #fcd903;
	font-size: 30px;
	padding-right: 5px;
}
.ava_rating_btn{
	width: 33%;
	float: left;
	text-align: right;
}
.pd_ava_rating{
	border: 5px solid #fcd903;
	padding: 10px;
	height: 56px;
	padding-right: 5px;
}
.ava_rating_btn a{
	color: #000;
	font-size: 36px;
	background-color: #fcd903;
	padding: 0 10px 0 10px;
	height: 56px;
    line-height: 25px;
    transition: all .5s;
    text-decoration: none;
}
.ava_rating_btn a:hover{
	opacity: .5;
}
.pd_card_info_title{
	padding-left: 50px;
	margin-bottom: 70px;
}
.pd_card_info_title h2{
	position: relative;
	font-size: 70px;
	color: #333;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
}
.pd_card_info_title h2:before{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: -30px;
	height: 10px;
	background-color: #fcd903;
}
.pd_card_info_discription{
	margin-bottom: 20px;
}
.pd_card_info_discription p{
	font-size: 36px;
	color: #333;
	padding-left: 50px;
}
.pd_card_info_tags_foto{
	display: inline-block;
	margin-right: 45px;
}
.pd_card_info_tags_wrap{
	padding-left: 50px;
	margin-bottom: 25px;
}
.pd_card_info_tags_foto i{
	padding-right: 15px;
	font-size: 30px;
	color: #fcd903;
}
.pd_card_info_tags_foto span{
	font-size: 22px;
	color: #555a61;
}
.pd_card_info_tags_foto a{
	font-size: 22px;
	color: #000;
	text-decoration: underline;
}
.pd_card_info_tags_wrap a{
	font-size: 22px;
	color: #333;
	text-decoration: none;
	margin-right: 20px;
	transition: all .5s;
}
html body .pd_card_info_tags_foto > a{
	text-decoration: underline;
}
.pd_card_info_tags_#DDBC03hover{
	color: #DDBC03;
}
.pd_card_info_form{
	padding: 20px;
	padding-left: 40px;
	border: 5px solid #fcd903;
}
.pd_card_info_form_location, .pd_card_info_form_right{
	width: 50%;
	float: left;
}
.pd_card_info_form_question{
	border-left: 2px solid #e8e8e8;
}
.pd_card_info_form_location i{
	font-size: 20px;
	color: #fcd903;
	padding-right: 12px;
}
.pd_card_info_form_location span{
	font-size: 22px;
	color: #333;
}
.pd_card_info_form_question, .pd_card_info_form_btns{
	width: 50%;
	float: left;
}
.pd_card_info_form_question{
	padding-left: 12%;
}
.pd_card_info_form_question_title{
	margin-bottom: 20px;
}
.pd_card_info_form_question_title h4{
	color: #000;
	font-size: 20px;
}
.pd_card_info_form_question_item{
	margin-bottom: 15px;
}
.pd_card_info_form_question_item i{
	font-size: 18px;
	color: #fcd903;
	padding-right: 12px;
}
.pd_card_info_form_question_item span{
	font-size: 16px;
	color: #626262;
}
.pd_card_info_form_btns{
	padding-left: 20px;
	padding-right: 20px;
}
.pd_card_info_form_btns a{
	display: block;
	border-radius: 10px;
	background-color: #fcd903;
	color: #000;
	text-transform: uppercase;
	font-size: 30px;
	padding: 3px 15px 3px 90px;
	position: relative;
	text-decoration: none;
	transition: all .2s;
}
.pd_card_info_form_btns a:hover{
	box-shadow: 3px 3px 10px #000;
	background-color: #CCAA00FF;
}
.pd_card_info_form_btns a:first-child{
	margin-bottom: 20px;
	height: 100px;
	line-height: 100px;
	padding: 0 15px 0 15px;
}
.basket_shop{
	width: 54px;
	height: 45px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.pd_slider_wrap{
	margin-top: 150px;
}
.pd_slider_title{
	text-align: center;
}
.pd_slider_title h2{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 100px;
	color: #000;
	display: inline-block;
	width: 38%;
	position: relative;
	text-align: center;
	margin-bottom: 140px;
}
.pd_slider_title h2:before{
	content: "";
    position: absolute;
    display: block;
    height: 10px;
    background-color: #fcd903;
    left: 0;
    right: 0;
    bottom: -30px;
}
.pd_carousel{
	margin-bottom: 170px;
	position: relative;
}
.pd_carousel.owl-carousel .owl-item{
	filter: brightness(50%);
}
html body .pd_carousel .owl-item.center{
	filter: brightness(100%) !important;
	width: 30px;
}
html body .pd_carousel.owl-carousel .owl-item img{
	height: 500px;
	object-fit: cover;
}
.pd_carousel .owl-prev{
	display: block;
	position: absolute;
	left: 20px;
	top: 50%;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #3a3a32;
	transform: translateY(-50%);
	transition: all .5s;
	border: 2px solid #3a3a32;
}
.pd_carousel .owl-next{
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #fcd903;
	transform: translateY(-50%);
	transition: all .5s;
	border: 2px solid #fcd903;
}
html body .pd_carousel.owl-carousel .owl-nav{
	display: block !important;
}
.pd_carousel .owl-prev span{
	transition: all .5s;
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 50px;
	height: 50px;
	border-top: 5px solid #fff;
	border-left: 5px solid #fff;
	transform: translateX(-38%) translateY(-50%) rotate(-45deg);
}
.pd_carousel .owl-next span{
	transition: all .5s;
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 50px;
	height: 50px;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	transform: translateX(-69%) translateY(-50%) rotate(45deg);
}
.pd_carousel .owl-next:hover{
	background-color: #fff;
}
.pd_carousel .owl-next:hover span{
	border-color: #fcd903;
}
.pd_carousel .owl-prev:hover{
	background-color: #fff;
}
.pd_carousel .owl-prev:hover span{
	border-color: #3a3a32;
}
.pd_carousel.owl-carousel .owl-dots{
	position: absolute;
	left: 50%;
	bottom: -70px;
	display: block !important;
	transform: translateX(-50%);
	width: 80px;
	text-align: center;
}
.pd_carousel.owl-carousel .owl-dots span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #dbdbdb;
	border-radius: 50%;
}
.pd_carousel.owl-carousel .owl-dot.active span{
	background-color: #fcd903;
}
.pd_carousel .owl-dot{
	display: inline-block;
	padding-right: 10px;
	float: left;
}
.filter_left_sidebar{
	margin-bottom: 55px;
	min-width: 320px;
	width: 33.33%;
	float: left;
	padding-right: 15px;
}
.filter_right{
	min-width: 320px;
	width: 66.66%;
	float: left;
	padding-left: 35px;
	padding-right: 35px;
}
.filter_left_sidebar_title{
	font-size: 32px;
	color: #000;
	padding: 50px 20px 70px 55px;
	background-color: #e6e6e6;
	border-bottom: 25px solid #fcd903;
	height: 150px;
    line-height: 40px;
    margin-bottom: 35px;
}
.filter_feedback_lines{
	display: inline-block;
	width: 50px;
	height: 20px;
	position: relative;
	margin-right: 25px;
}
.filter_feedback_lines:before{
	content: "";
	display: block;
	height: 7px;
	background-color: #e00008;
	left: 0;
	right: 0;
	top: 0;
	margin-bottom: 7px;
}
.filter_feedback_lines:after{
	content: "";
	display: block;
	height: 7px;
	background-color: #e00008;
	left: 0;
	right: 0;
	bottom: 0;
}
.filter_left_menu ul{
	border-left: 7px solid #d7d7d7;
	padding-right: 45px;
}
.filter_left_menu ul li{
	list-style: none;
	margin-left: 35px;
	border-bottom: 3px dotted #d7d7d7;
	height: 74px;
	line-height: 74px;
	transition: all .5s;
}
.filter_left_menu ul li:last-child{
	border-bottom: 0;
}
.filter_left_menu ul li:hover{
	border-bottom: 3px solid #000;
}
.filter_left_menu ul li a{
	color: #20375e;
	transition: all .5s;
	font-size: 24px;
	font-style: italic;
	text-decoration: none;
	display: block;
}
.filter_left_menu ul li a:hover{
	padding-left: 30px;
	color: #000;
}
.filter_left_menu{
	margin-bottom: 70px;
}
.filter_feedback_title{
	font-size: 32px;
	color: #000;
	padding: 50px 20px 70px 55px;
	background: linear-gradient(to top, #dddfe8, #fff);
	border-bottom: 10px solid #fcd903;
	height: 150px;
    line-height: 40px;
    margin-bottom: 40px;
}
.filter_feedback_wrap{
	overflow: hidden;
	border: 3px solid #d7d7d7;
	border-radius: 10px;
}
.filter_feedback_lines_thin{
	width: 25px;
	margin-right: 15px;
}
.filter_feedback_title_feedback_block{
	text-transform: uppercase;
	font-style: italic;
	font-size: 28px;
	font-weight: bold;
}
.filter_feedback_carousel_item_title{
	text-align: center;
	margin-bottom: 40px;
}
.filter_feedback_carousel_item_title h4{
	font-size: 32px;
	color: #ff0000;
	text-transform: uppercase;
	font-weight: bold;
	width: 50%;
	margin: 0 auto;
	position: relative;
}
.filter_feedback_carousel_item_title h4:before{
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #d7d7d7;
}
.filter_feedback_carousel_item_img{
	width: 230px;
	height: 230px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	margin-bottom: 35px;
}
/*.filter_feedback_carousel_item_img:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	border: 3px solid #d7d7d7;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}*/
.filter_feedback_carousel_item_img img{
	object-fit: cover;
	height: 230px;
	object-position: center center;
}
.filter_feedback_carousel_item_long_lines{
	width: 70%;
	position: relative;
	height: 7px;
	margin: 0 auto;
	border-top: 3px solid #d7d7d7;
	border-bottom: 3px solid #d7d7d7;
	margin-bottom: 15px;
}
.filter_feedback_carousel_item_long_lines:before{
	content: "";
	display: block;
	position: absolute;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #d7d7d7;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
}
.filter_feedback_carousel_item_long_lines:after{
	content: "";
	display: block;
	position: absolute;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #d7d7d7;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
}
.filter_feedback_carousel_item_text{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.filter_feedback_carousel_item_text span{
	font-size: 16px;
}
html body .filter_feedback_carousel_item_text_title{
	font-size: 20px;
	color: #ff0000;
	display: block;
	margin-bottom: 15px;
}
.filter_feedback_carousel_item_text{
	padding-left: 25px;
	padding-right: 25px;
	min-height: 250px;
}
.filter_feedback_btn{
	border-top: 3px dashed #d7d7d7;
	position: relative;
	margin-top: 30px;
}
.filter_feedback_btn:before{
	content: "";
	display: block;
	height: 6px;
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 3px;
	right: 0;
	border-top: 3px dashed #d7d7d7;
}
.filter_feedback_btn a{
	display: block;
	text-decoration: none;
	background: linear-gradient(to top, #dddfe8, #fff);
	transition: all .3s;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	width: 50%;
	margin: 30px auto;
	border-radius: 5px;
	border: 2px solid #d7d7d7;
	color: #0c2256;
}
.filter_feedback_btn a:hover{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #ff0000;
}
.filter_feedback.owl-carousel .owl-next{
	position: absolute;
	right: 4%;
    top: 27%;
    background: transparent !important;
}
.filter_feedback.owl-carousel .owl-prev{
	position: absolute;
	left: 4%;
    top: 27%;
    background: transparent !important;
}
.filter_feedback.owl-carousel .owl-next span{
	transition: all .5s;
	position: absolute;
	right: 12%;
    top: 27%;
    padding: 30px;
	display: block;
	width: 50px;
	height: 50px;
	border-top: 5px solid #d7d7d7;
	border-right: 5px solid #d7d7d7;
	transform: rotate(45deg);
}
.filter_feedback.owl-carousel .owl-prev span{
	transition: all .5s;
	position: absolute;
	left: 12%;
    top: 27%;
    padding: 30px;
	display: block;
	width: 50px;
	height: 50px;
	border-top: 5px solid #d7d7d7;
	border-left: 5px solid #d7d7d7;
	transform: rotate(-45deg);
}
.foto_maker_img{
	border-top-left-radius: 70px;
	overflow: hidden;
	position: relative;
}
.foto_maker_img span{
	color: #fff;
	font-size: 26px;
	position: absolute;
	top: 20%;
	left: 10px;
	width: 35%;
	text-align: center;
}
.foto_maker_img img{
	height: 420px;
	object-fit: cover;
	object-position: center center;
	width: 100%;
}
.foto_maker_line_bottom{
	height: 68px;
	line-height: 68px;
	background-color: #ff0000;
	overflow: hidden;
	border-bottom-right-radius: 70px;
	padding-left: 45px;
	padding-right: 55px;
}
.foto_maker_line_bottom span{
	font-size: 30px;
	color: #fff;
}
.foto_maker_line_bottom a{
	float: right;
	text-decoration: none;
	text-transform: lowercase;
	transition: all .3s;
}
.foto_maker_line_bottom a:hover{
	opacity: .5;
}
.foto_maker_line_bottom a > span{
	font-size: 20px;
}
.foto_maker_line_bottom a > i{
	color: #fff;
	font-size: 20px;
	padding-left: 10px;
	vertical-align: baseline;
}
.foto_maker_portfolio_wrap{
	margin-bottom: 80px;
}
.mobile_menu_up .header_menu ul{
	top: 80px;
}
.quest_pop_up{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 20px;
	font-size: 26px;
	color: #000;
	background-color: lightgreen;
	z-index: 10;
	transition: all .5s;
	z-index: 9999;
	max-width: 440px;
}
.shadow.quest_pop_up_visible,
.quest_pop_up.quest_pop_up_visible{
	display: block;
}
.quest_pop_up span{
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	right: 4px;
	top: 4px;
	background-color: orange;
}
.quest_pop_up span:before{
	content: "";
	display: block;
	background-color: #000;
	position: absolute;
	width: 3px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.quest_pop_up span:after{
	content: "";
	display: block;
	background-color: #000;
	position: absolute;
	width: 3px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.shadow{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,.5);
	display: none;
}
.decoration span{
	top: 45%;
}