@media screen and (max-width: 1920px){
	.header-cloud-bottom-bg img, .kind-serv-cloud img, .kind-serv-bottom-cloud img, .footer-cloud img{
		height: 100%;
		object-fit: cover;
	}
	.header-cloud-bottom-bg, .kind-serv-cloud, .kind-serv-bottom-cloud, .footer-cloud{
		height: 426px;
	}
}
@media screen and (max-width: 1199px){
	.header-menu ul li{
		margin-right: 20px;
	}
	.header-gift-btn button{
		padding: 40px 30px 40px 174px;
	}
	.gift-btn{
		left: 45px;
    	bottom: 59px;
	}
	.kind-serv-btn button{
		padding-left: 163px;
		padding-right: 40px;
	}
	.kind-serv-btn button img{
		left: 38px;
	}
}
@media screen and (max-width: 991px){
	.top-line-title{
		width: 35%;
	}
	.top-line-phone{
		width: 64%;
	}
	.top-line-phone button{
		margin-left: 10px;
		padding: 10px;
	}
	.top-header-block-wrap{
		width: 77%;
	}
	.top-line-title h2{
		font-size: 20px;
	}
	.header-logo{
		margin-right: 20px;
		width: 18%;
	}
	.header-title h1{
		font-size: 36px;
		line-height: 1;
	}
	.header-form-title h2{
		font-size: 28px;
	}
	.header-menu ul{
		position: fixed;
	    z-index: 20;
	    left: -320px;
	    top: 180px;
	    display: block;
	    width: 320px;
	    margin: 0;
	}
	.header-menu ul li{
	    display: block;
	    text-align: left;
	    border-bottom: 2px solid #ff0000;
	    background-color: #fff;
	    margin-right: 0;
	}
	.header-menu ul li a{
	    display: block;
	    padding: 10px 30px;
	    background-color: #f3f3f3;
	    text-transform: uppercase;
	    color: #af1a02;
	    font-size: 20px;
	    transition: all .5s;
	}
	.header-menu ul li a:hover{
		opacity: .5;
	}
	.mobile-menu {
	    position: fixed;
	    z-index: 999;
	    top: 130px;
	    left: 47px;
	    display: block;
	    width: 40px;
	    height: 25px;
	    transition: all .5s;
	}
	.mobile-menu:before {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    display: block;
	    width: 50px;
	    height: 40px;
	    padding: 22px 30px;
	    content: '';
	    transform: translateY(-50%) translateX(-50%);
	    background: white;
	    background-color: #fff;
	    border: 1px solid #000;
	    border-radius: 5px;
	}
	.mobile-menu span {
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    display: block;
	    height: 3px;
	    transition: all .5s;
	    background-color: #3d403f;
	}
	.mobile-menu span.line-2 {
	    top: 50%;
	    transform: translateY(-50%);
	}
	.mobile-menu span.line-3 {
	    top: calc(100% - 3px);
	}
	html body .openedMob-menu .line-1 {
	    transform: rotate(135deg);
	    top: 10px;
	}
	html body .openedMob-menu .line-2 {
	    transform: rotate(240deg);
	    opacity: 0;
	}
	html body .openedMob-menu .line-3 {
	    transform: rotate(-135deg) translateY(-50%);
	    top: 9px;
	}
	.openedMob-menu .header-menu ul{
		left: 0;
	}
	.mobile_menu_up .mobile-menu{
        top: 25px; 
    }
    .mobile_menu_up .header-menu ul{
        top: 70px;
    } 
	.form-header input, .form-header textarea{
	    box-shadow: 3px 3px 3px #aeaeae;
	    position: relative;
	    z-index: 10;
	}
	.kind-serv-girl{
		left: -160px;
	}
	.kind-serv-title{
		text-align: center;
	}
	.kind-serv-btn{
		left: 70%;
		width: 100%;
	}
	.title{
		margin-bottom: 10px;
		text-align: center;	
	}
	.footer-cloud{
		bottom: 40%;
	}
	.news-item{
		width: 45%;
		margin-top: 15px;
	}
	.header-woman img{
		margin-top: 30px;
	}
}
@media screen and (max-width: 768px){
	.header-logo{
		width: 100%;
		text-align: center;
	}
	.footer-title,.form-header, .top-header-block-wrap, .top-line-title, .top-line-phone, .header-woman, .header-form{
		width: 100%;
		text-align: center;
	}
	.mobile-menu{
		top: 60px;
	}
	.header-title h1 span{
		font-size: 18px;
	}
	.header-woman img{
		margin-bottom: 20px;
	}
	html body .form-header input, .form-header textarea{
	    padding: 10px 0 10px 10px;
	}
	.form-header textarea{
		padding: 10px 0 10px 10px;
	}
	div.header-wrap > div.container, div.service-wrap > div.container{
		padding: 0;
	}
	.header-gift-btn{
		margin: 0 15px;
	}
	.header-gift-btn button{
		padding: 15px;
	}
	.about{
	    margin: 0 15px 30px 15px;
	}
	.service{
		margin: 0 15px;
	}
	.title{
		font-size: 26px;
	}
	.service-benefit img{
		display: none;
	}
	.service-benefit{
		padding-left: 0;
		margin-bottom: 45px;
	}
	.kind-serv-cloud{
		top: -292px;
	}
	.gift-btn,.kind-serv-bottom-cloud, .kind-serv-girl{
		display: none;
	}
	.kind-serv-item{
		float: none;
		width: 100%;
	}
	.kind-serv-btn{
		left: 50%;
		bottom: 35px;
		margin-left: 15px;
		margin-right: 15px;
	    max-width: 320px;
	    transform: translateX(-55%);
	}
	.news-wrap{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.kind-serv-title{
		margin-bottom: 45px;
	}
	.kind-serv-wrap{
		padding-top: 160px;
	}
	.news-item{
		width: 100%;
		margin-right: 0;
		float: none;
	} 
	.contacts-title h2{
		display: block;
	}
	.contacts-title{
		margin-bottom: 30px;
		text-align: center;
	}
	.footer-cloud{
		display: none;
	}
	.footer-wrap{
		padding-top: 30px;
	}
	.footer-title, .footer-block-wrap{
		float: none;
	}
	.footer-block-wrap{
		margin: 0 auto;
	}
	.footer-block, .footer-logo{
		width: 100%;
		float: none;
	}
	.footer-title{
		margin: 0 auto 20px;
	}
	.footer-top-line a{
		display: block;
	}
	.footer-top-line{
		margin-bottom: 20px;
	}
	.footer-menu ul li {
	    display: block;
	    margin-right: 0;
	}
	.footer-menu{
		margin-bottom: 20px;
	}
	.kind-serv-btn button{
		padding-left: 147px;
    	padding-right: 29px;
    	font-size: 20px;
	}
	.header-woman img{
		margin-top: 0;
	}
	.mobile-menu{
		left: 31px;
	}
}